* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav{
    height: 70px;
    background-color: #090909;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.navlogo:hover{
    border: 2px solid white;
}
.addfirst{font-size: 15px;
    margin-left: 15px;

}
.addsec{font-size: 20px;
    margin-left: 15px;

}
/* time3 */
.navsearch{
    display:flex;
    background-color: rgb(248, 193, 13);
    height: 40px;
    width: 600px;
    border-radius: 4px;
}
.selectsearch{
    
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchinput{
    width: 500px;
    font-size: 20px;
    border: none;
}
/* time4 */
.signfirst{ font-size: 15px;
    
}
.signsec{
    font-size: 20px;
}
/* time5 */
.orderfirst{
    font-size: 15px;
}

.ordersec{
    font-size: 20px;
}
/* time5 */
.cartfirst{
    font-size: 15px;
}
.cartsec{
    font-size: 20px;
}
/* time6 */
.shopfirst{
    font-size: 15px;
}
.shopsec{
    font-size: 20px;
}
/* penel */
.penel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.penelops p{
    display: inline;
    margin-left: 20px;
}
.penelops{
    width: 70%;
    font-size: 15px;
}
.peneldeals{
    font-size: 15px;
}
/* part 2 start */
.partsec{
    background-image: url(amazon1.jpg);
    height: 320px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.partsecmsg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 80%;
    margin-bottom: 30px;

}
.partsecmsg a{
    color: #007185;
}
/* shop part */
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.shoppart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(amazon3.jpg);
    background-size: cover;
    
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
} 
.boxcon{
    margin-left: 10px;
    margin-right: 10px;

}
footer{
    margin-top: 50px;
}
.foot{
    height: 50px;
    background-color: #37575a;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.foot2{
    background-color: #007185;
    color: white;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 15px;
    margin-top: 10px;
}
ul{
    margin-top: 15px;
}
.copy{
height: 50px;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
